# Database
DATABASE_URL="postgresql://user:password@localhost:5432/exa_payment?schema=public"

# API
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=*

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=your_access_token_here
MERCADO_PAGO_WEBHOOK_SECRET=your_webhook_secret_here

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Observability
JAEGER_ENDPOINT=http://localhost:14268/api/traces

# Temporal (optional)
TEMPORAL_ENDPOINT=localhost:7233
